.edit__note {
  cursor: pointer;
  position: absolute;
  background: #000000;
  color: white;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
  padding: 8px;
  right: 25px;
}
/*# sourceMappingURL=EditNoteButton.css.map */