@import '../../assets/scss/variables';

#notes__display{
    background: white;
    
    .image__display{
        text-align: center;
        width: 100%;
        
        div{
            font-family: 'Orelega One', cursive;
            img{
                margin-top: 10vh;
                margin-bottom: 10px;
            }
        }
    }

    .loading{
        font-family: 'Orelega One', cursive;
    }
    

    .notes__list{
        padding-top: 80px;
        padding-bottom: 7%;
        width: 96%;
        margin-left: 2%;
        display: flex;
        flex-wrap: wrap;

        &.image__display{
            
            div{
                img{
                    margin-top: 0%;
                }
            }
        }
    }
}