.note__display{
    border-radius: 15px;
    margin-bottom: 20px;
    margin-right: 15px;
    font-family: 'Orelega One', cursive;

    .note__title{
        margin-left: 3px;

        h2{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .note__content{
        margin-left: 5px;
    }
    
    .note__option__container{
        position: absolute;
        bottom: 20px;
        width: 100%;
        left: 30px;

        .note__date{
            left: 5px;
        }

    }

    
}