#search__bar{
    z-index: 1;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: white;
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 1%;
    .search__prepend{

        background: white;
        border: transparent;
    }

    #search__field{
        border: transparent;
        border-radius: 15px;
    }
}