@import '../../assets/scss/variables';

#menu__bar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    height: 6.5vh;
    margin-left: 0px;
    margin-right: 0px;

    #user__details{
        margin-left: 5%;

        #user__name{
            text-transform: uppercase;
            font-weight: bold;
            overflow: hidden;
            max-width: 80%;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
            vertical-align: middle;
        }
    }

    #menu__options{
        text-align: right;
        .add__note{
            cursor: pointer;
            color: $primary;
        }

        .sign__out{
            cursor: pointer;
            :active{
                position: relative;
                top: 1px;
            }
        }
    }

    

    
}